@import url('./layout/base.css');

@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/menu.css');
@import url('./blocks/header-contacts.css');
@import url('./blocks/welcome.css');
@import url('./blocks/offers.css');
@import url('./blocks/news.css');
@import url('./blocks/paginator.css');
@import url('./blocks/about.css');
@import url('./blocks/footer.css');
@import url('./blocks/networks.css');
@import url('./blocks/footer-contacts.css');


.welcome {
    display: flex;
    position: fixed;
    margin: 0 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("./../img/screen.jpg") center bottom / cover no-repeat;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central__logo {
    width: 279px;
    height: 119px;
}

.central__text {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 52px;
}