body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0px;
    margin: 0px;
}

ul li {
    list-style: none;
}

h1, h2, h3 {
    margin: 0px;
    font-weight: normal;
}

p {
    margin-top: 0px;
}

* {
    box-sizing: border-box;
}

.main-page-wrapper {
    background: url(./img/фон.jpg) center top no-repeat;
}

.container{
   max-width: 1140px ; 
   margin-left: auto;
   margin-right: auto;
}
.header {
    height: 120px;
    position: relative;
    margin-bottom: 30px;
}
.header__container{
    position: relative;
}
.logo {
    display: block;
    position: absolute;
    height: 36px;
    width: 85px;
    top: 25px;
    left: 0px;
}
.logo__img {
    height: 100%;
    width: 104%;
    object-fit: contain;
}

.menu {
    position: absolute;
    top: 36px;
    left: 164px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.header-contacts {
    font-style: normal;
    position: absolute;
    top: 24px;
    right: 0px;
    text-align: right;
}

.header-contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 1px;
}

.header-contacts__link {
    height: 18px;
    font-size: 13px;
    text-decoration: underline;
}
.button {
    display: inline-block;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    border: none;
}

.welcome {
    font-style: normal;
    text-align: left;
    margin-top: 74px;
    margin-bottom: 246px;
}

.welcome__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.36;
    margin-bottom: 26px;
    max-width: 511px;
}

.welcome__text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.offers {
    margin-bottom: 127px;
}

.offers__container-title {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
    margin-right: 12px;
    display: inline-block;
}

.offers__item {
    display: inline-block;
    min-height: 449px;
    width: 362px;
    background: #fff;
    border-radius: 5px;
    margin-right: 22px;
    vertical-align: top;
}
.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    display: block;
    height: 144px;
    width: 362px;
}

.offers__header-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.offers__content {
    font-style: normal;
    padding: 22px;
    color: #F5170E;
}

.offers__content-title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 21px;
}

.offers__features-item {
    margin-right: 28px;
    display: inline-block;
    width: 126px;
    padding-bottom: 20px;
}

.offers__features-item:last-child {
    margin-right: 0px;
}

.offers__features-icon {
    display: inline-block;
    height: 26px;
    margin-right: 10px;
    vertical-align: middle;
}

.offers__features-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #666;
}

.offers__text {
    font-size: 14px;
    color: #303030;
    text-decoration: none;
    padding-bottom: 22px;
}

.offers__button:hover {
    background: #F5170E;
    color: #fff;
}

.button_type_secondary {
    background-color: transparent;
    border: 1px solid #F5170E;
    color: #F5170E;
    padding: 18px 30px;
}

.news {
    margin-bottom: 124px;
}

.news__title-title {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 51px;
}

.news__list {
    margin-bottom: 53px;
}

.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 21px;
}

.news__item:last-child {
    margin-right: 0px;
}

.news__img {
    display: block;
    width: 100%;
    height: 394px;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 12.5px 30px;
    min-height: 145px;
}

.news__text {
    font-size: 14px;
    margin-bottom: 12.5px;
}

.news__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 3.5px;
}

.paginator {
    text-align: center;
}

.paginator__display {
    display: inline-block;
    padding-right: 25px;
    vertical-align: middle;
    font-size: 16px;
}

.paginator__list {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.paginator__item {
    display: inline-block;
    vertical-align: middle;
}

.paginator__item--active .paginator__link, .paginator__link:hover {
    background: #fff;
    color: #F5170E;
}

.paginator__link {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.about:before {
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    background: url("./img/gates.jpg") center / cover no-repeat;
    position: absolute;
    top: 0px;
}

.about {
    margin-bottom: 53px;
    position: relative;
    border-top: 1px solid transparent;
}

.about__content {
    width: 785px;
    min-height: 455px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    margin-top: 97px;
    background: url(./img/mountains.jpg) center / cover no-repeat;
    padding: 70px 81px;
}

.about__title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 37px;
}

.about__text {
    font-size: 16px;
    font-weight: normal;
    color: #060606;
    width: 502px;
    margin-bottom: 72px;
    line-height: 27px;
}

.about__button {
    margin-bottom: -8px;
}

.footer {
    position: relative;
}

.footer__container {
    height: 92px;
    position: relative;
}

.footer-contacts {
    position: absolute;
    top: 42.14px;
    right: 0px;
    font-style: normal;
    text-align: right;
}

.networks {
    position: absolute;
    top: 36px;
    right: 352px;
}

.networks__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.networks__item:last-child {
    margin-right: 0px;
}

.networks__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.footer-contacts__info {
    font-size: 11px;
    font-weight: normal;
    color: #9a9a9a;
}

.footer-contacts__phone {
    font-size: 26px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}