
.container{
    width: 1168px; 
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-right: 66px;
    height: 42px;
    width: 98px;
   
}

.paginator__item--active .paginator__link, .paginator__link:hover {
    background: #F5170E;
    color: #fff;
}

.footer__container {
    height: 132px;
}

