.button {
    display: inline-block;
    background-color: #F5170E;
    border: 1px solid #F5170E;
    color: #FFFFFF;
    border-radius: 35px;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.button_type_secondary {
    background-color: transparent;
    border: 1px solid #F5170E;
    color: #F5170E;
    padding: 18px 30px;
}

.button--color--light {
    background-color: transparent;
    border: 1px solid #F5170E;
    color: #F5170E;
}

.button--color--light:hover {
    background: #F5170E;
    color: #FFFFFF;
    border:1px solid transparent;
}

.button:hover {
    background: #F5170E;
    color: #FFFFFF;
    border:1px solid transparent;
}

.button--color--grey {
    background: #2B2B2B;
    border:1px solid transparent;
    margin-right: 17px;
}

.button--active:hover {
    background: transparent;
    color: #F5170E;
    border: 1px solid #F5170E;
    font-weight: 700;
}
