.menu {
    width: 264px;
    height: 19px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
    transition: 1s;
}

.menu__link:hover, .menu__link--active{
    color: #F5170E;
}