.networks {
    margin-right: 74px;
    margin-left: 220px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.networks__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.networks__item:last-child {
    margin-right: 0px;
}

.networks__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.networks__item--icon--telegram .networks__link {
    background: url(./../../img/css_sprites.png) -10px -66px;
}

.networks__item--icon--telegram .networks__link:hover {
    filter: brightness(.8);
    transition: .5s;
}

.networks__item--icon--vk .networks__link {
    background: url(./../../img/css_sprites.png) -66px -66px;
}

.networks__item--icon--vk .networks__link:hover {
    filter: brightness(.8);
    transition: .5s;
}

.networks__item--icon--facebook .networks__link {
    background: url(./../../img/css_sprites.png) -10px -10px;
}

.networks__item--icon--facebook .networks__link:hover {
    filter: brightness(.8);
    transition: .5s;
}

.networks__item--icon--instagram .networks__link {
    background: url(./../../img/css_sprites.png) -66px -10px;
}

.networks__item--icon--instagram .networks__link:hover {
    filter: brightness(.8);
    transition: .5s;
}
